/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background: #f5f5f5;
  /*padding: 20px;*/
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  max-width: 1920px;
  max-height: 1080px;
  position: relative;
}

div.background {
  width: 1920px;
  height: 1080px;
}
div.background.gtc {
  background-image: url("https://downloads.virtualracing.org/AC/GTC%20VI/Wertung_transparent.png");
}
div.background.pwc {
  background-image: url("https://downloads.virtualracing.org/AC/GTC%20VI/AufAb_Temp_ACL5.png");
}
div.background.vrln {
  background-image: url("https://downloads.virtualracing.org/AC/GTC%20V/SpotterTest/Spotterguide_AC_GTC.jpg");
}
div.background.plm {
  background-image: url("https://downloads.virtualracing.org/AC/GTC%20VI/Template_Fahrer_FULL.jpg");
}

div.absteiger{
  left: 30px;
  top: 180px;
  min-width: 1400px;
  height: 450px;
  position: absolute; /* important(so we can:absolutely position the description div */
  display: flex;
  /*opacity:0.1; /* transparency */
  filter:alpha(opacity=30); /* IE transparency */
}
div.aufsteiger{
  right: 30px;
  bottom: 280px;
  min-width: 1400px;
  height: 450px;
  position: absolute; /* important(so we can:absolutely position the description div */
  /*opacity:0.1; /* transparency */
  filter:alpha(opacity=30); /* IE transparency */
}

div.grid{
  color: #3D3C3B;
  position:absolute;
  display: inline-flex;
  align-items: center;
  height: 55px;
  width: 330px;
  background-color: #F0F0F0;
  font-size: 50px;
  font-weight: 900;
}

div.grid.down{
  justify-content: flex-end;
  bottom: 105px;
  width:325px;
  left:0px;
  padding-right: 5px;
}

div.grid.up{
  justify-content: flex-start;
  padding-left: 5px;
  top: 105px;
  right:0px;
}

div.verticalline{
  position:absolute;
  color: white;
  font-size: 50px;
  font-weight: 900;
  display: inline-flex;
  justify-content: center;
  width:55px;
  height:450px;
  background-color: red;
  border-radius: 200px 0px;
}
div.verticalline.down{
    left:330px;
}
div.verticalline.down>p{
  position: relative;
  top:240px;
}
div.verticalline.up>p{
  position: relative;
  top: 50px;
}
div.verticalline.up{
    right:335px;
}

div.line {
  display: flex;
  width:inherit;
  float: left; /* important */
  height: 55px;
  position:relative;
  background-color: #F0F0F0;
  text-transform: uppercase;
}
div.line.down{
  margin-bottom: 2px;
  border-radius: 0px 0px 100px 0px;
}
div.line.up{
  justify-content: flex-end;
  margin-top: 2px;
  border-radius: 100px 0px 0px 0px;
}
div.le {
  height: inherit;
  float: left; /* important */
  border-radius: inherit;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  font-size: 40px;
  font-weight: 900;
}

div.le.upperline{
  position: absolute;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  top:0px;
  height:auto;
  font-size:34px;
  font-weight: 900;
}
div.le.lowerline{
  position: absolute;
  text-align: left;
  top:30px;
  padding-left: 20px;
  padding-right: 20px;
  height:auto;
  font-size:16px;
  font-weight: 900;
}

/*AUF/Absteigerbereich*/
div.climbarea {
  display: flex;
  position: absolute;
  width:1015px;
  height:380px;
}
div.climbarea.down {
  flex-direction: column;
  align-items: flex-start;
  left:386px;
}
div.climbarea.up {
  flex-direction: column-reverse;
  align-items: flex-end;
  bottom: 0px;
  right:391px;
}

/* Informationen */
div.informationen {
  position:absolute;
  bottom: 40px;
  right:500px;
  width:700px;
  height:150px;
}
div.wertung {
  position: relative;
  text-align: right;
  font-size: 70px;
  font-weight: 900;
}
/* Farbendefinitionen für die verschiedenen Serien */

.gtc {
  color:#E32527;
}

.pwc {
  color:#E32527;
}
.plm {
  color:#FE4A01;
}
.plm_lmp{
  color:#C00000;
}
.plm_rsr{
  color:#399600;
}
.plm_gt4{
  color:#0090E6;
}
.vrln {
  color:#FA0505;
}
.VRLN_VR1{
  color:#FA0505;
}
.VRLN_VR2GT{
  color:#0000FF;
}
.VRLN_VR3T{
  color:#176511;
}
.VRLN_VR4H{
  color:#7F0495;
}
.VRLN_VR5C{
  color:#EC5D08;
}

div.lauf {
  position: relative;
  text-align: right;
  color: #3D3C3B;
  font-size: 24px;
  font-weight: 600;
}
