/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background: #f5f5f5;
  /*padding: 20px;*/
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  max-width: 1920px;
  max-height: 1080px;
  position: relative;
}
/* Hintergrundbild, muss da es sonst auf großen Bildschirmen zu wiederholungen kommt */
div.background {
  width: 1920px;
  height: 1080px;
}
div.background.gtc {
  background-image: url("https://downloads.virtualracing.org/AC/GTC%20V/SpotterTest/Spotterguide_AC_GTC.jpg");
}
  div.central {
    top: 165px;
    left: 16px;
    right: 16px;
    float: left; /* important */
    position: relative; /* important(so we can:absolutely position the description div */
  }
  
 div.unten {
  z-index: 2;
  text-transform: uppercase;
  color: #E32527;
  bottom:0;
  left: 0px;
  height: 120px;
  width: 1920px;
  float: left; /* important */
  position: absolute; /* important(so we can:absolutely position the description div */
}
div.unten p.track {
  position: absolute;
  font-size:42px;
  right: 80px;
  font-weight: bold;
  top: 8px;
  text-align: right;
}

div.unten p.info {
  position: absolute;
  color: initial;
  font-size: 24px;
  bottom:40px;
  right:80px;
  text-align: right;
  vertical-align:initial;
}
div.unten p.spotter{
	position:absolute;
	text-align:center;
	font-size: 38px;
	left:820px;
	
}
div.unten p.spotter.black{
	color: initial;
	left:1000px;
	
}

  div.spotter {
    float: left; /* important */
    position: relative; /* important(so we can absolutely position the description div */
    margin-left: 16px;
    z-index: 2;
    margin: 8px;
  }

div.spotter img {
  position: relative;
  max-width: 300px;
}



/* TEAM */
div.GTC_team {
  position: absolute; /* absolute position (so we can position it where we want)*/
  align: right;
  top: 0px; /* position will be on bottom */
  right: 0px;
  width: 60%;
  /* styling bellow */
  background-color: black;
  color: white;
  opacity:0.6; /* transparency */
  filter:alpha(opacity=60); /* IE transparency */
}
div.GTC_team p {
  text-align: right;
  margin: 1px;
  padding-right:4px;
  font-size: 14px;
  font-weight:bold;
}

div.GTC_name {
  position: absolute; /* absolute position (so we can position it where we want)*/
  bottom: 4px; /* position will be on bottom */
  left: 0px;
  width: 100%;
  /* styling bellow */
  background-color: black;
  color: white;
  /* opacity:0.6; /* transparency */
  /* filter:alpha(opacity=60); /* IE transparency */
}
div.GTC_name p {
  text-align: right;
  font-weight: bold;
  padding: 0.16px;
  margin: 0em;
  font-size: 20px;
}
div.GTC_name img {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 3;
  left: 20px;
  top: 50%;
  height: 100%;
  opacity: 1;
}

div.car {
  position: absolute; /* absolute position (so we can position it where we want)*/
  top: 20px; /* position will be on bottom */
  right: 0px;
  width: 60%;
  /* styling bellow */
  background-color: black;
  color: white;
  opacity:0.6; transparency
  filter:alpha(opacity=60); IE transparency */
}
/* VRLN Klassen Markierungen */

div.car.VRLN_VR1 {
  background-color: #FA0505;
}

div.car.VRLN_VR2GT {
  background-color: #0000FF;
}

div.car.VRLN_VT3 {
  background-color: #176511;
}

div.car.VRLN_VR4H {
  background-color: #7F0495;
}

div.car.VRLN_VR5C {
  background-color: #EC5D08;
}


div.car p {
  text-align: right;
  padding-right: 4px;
  margin: 0px;
  font-size: 8px;
}

div.GTC_number {
  position: absolute; /* absolute position (so we can position it where we want)*/
  top: 0px; /* position will be on bottom */
  left: 0px;
  /* styling bellow */
  /*background-color:#E32527;*/
  color: white;
  opacity: 0.9; /* transparency */
  filter: alpha(opacity=60); /* IE transparency */
}
div.GTC_number p {
  text-align: center;
  font-weight: bold;
  background-color: #E32527;
  min-width: 40px; 
  width: auto;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 3em;
}
div.GTC_number p.provisional {
  background-color: #6D9BC7;
}
div.GTC_number p.denial {
  background-color: #B0B0B0;
}
div.GTC_number p.climber {
  background-color: #268624;
}

p.description_content {
  padding: 10px;
  margin: 0px;
  font-size: medium;
}
